/* font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* common style and utility */
body{
    font-family: 'Poppins', sans-serif;
    background-color:  #F3F1FF;
}

/* main  */
main{
    display: flex;
    justify-content: center;
}
/* container  */
.container{
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px;
   
}

.top-players{
    margin-bottom: 30px;
}

hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 15px;
}

/* container-title */
.section-title{
    color: #562EFF;
    font-size: 24px;
}

/* top players style  */
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);

}

.player{
    display: flex;

}

.player img{
    height: 56px;
    width: 56px;

}

.player-name{
    margin-left: 16px;
    font-size: 18px;
}

/* top blog  */

.blog{
    display: flex;
}

.blog-info{
    margin-left: 16px;
}

.blog .thumbnail img{
    width: 177px;
    height: 117px
}

.blog-author a{
    text-decoration: none;
}

.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 26px;
}